<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Daily Journal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/about.css"> <!-- Create a new CSS file for the About Us page -->
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">AKATSUKI Nodevember</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li id="home"><a href="./">HOME</a></li>
                    <li id="about"><a href="./about">ABOUT US</a></li>
                    <li id="contact"><a href="./contact">CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </nav> 

    <div class="container-inner">
        <div>
            <h1 class="title">About Us</h1>
        </div>
        <div class="about-content">
            <div class="about-text">
                <p>Welcome to AKATSUKI Nodevember, your go-to destination for insightful and inspiring content on web development and programming. Our mission is to ignite passion for programming and provide valuable resources for both beginners and experienced developers.</p>

                <p>At AKATSUKI Nodevember, we believe in the power of knowledge sharing and community building. Our team of dedicated developers and educators is committed to creating a supportive and engaging environment for learners of all levels.</p>

                <p>Whether you're looking to explore the latest trends in web development, enhance your coding skills, or connect with like-minded individuals, you've come to the right place. Join us on this exciting journey of learning and collaboration!</p>
            </div>
            <div class="about-image">
                <img src="https://placekitten.com/400/300" alt="Team Photo">
            </div>
        </div>
        <a href="./"><button class='btn-red'>Back to Home</button></a>

    </div>
</body>

</html>
