<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Compose Blog - Daily Journal</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./css/compose.css" />
  <!-- Create a new CSS file for the Compose Blog page -->
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">AKATSUKI Nodevember</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li id="home"><a href="./">HOME</a></li>
            <li id="about"><a href="./about">ABOUT US</a></li>
            <li id="contact"><a href="./contact">CONTACT US</a></li>
        </ul>
    </div>
    </div>
  </nav>

  <div class="container-inner">

    <div>
      <h1 class="title">Compose Blog</h1>
    </div>

    <div class="compose-card">
      <h1 class="title">Add New Blog</h1>

      <form class="compose-form" action="/compose" method = "post">

        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" class="form-control" required />
        </div>

        <div class="form-group">
          <label for="imageUrl">Image URL:</label>
          <input type="text" id="imageUrl" name="imageUrl" class="form-control" required />
        </div>

        <div class="form-group">
          <label for="description">Description:</label>
          <textarea id="description" name="description" rows="4" class="form-control" required></textarea>
        </div>

        <button type="submit" class="btn btn-red">Post Blog</button>
      </form>

    </div>

    <a href="./"><button class='btn-red'>Back to Home</button></a>
  </div>
</body>

</html>