.form {
  display: flex;
  flex-direction: row;
}

.form input {
  margin: 20px 0 0 0;
  width: 100%;
}

.form input {
  padding: 10px;
  border-radius: 10px;
}

.btn {
  width: 100%;
}

.btn-red {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 80px;
  border: 1px solid #e3d5cc;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #b89c8a;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition on hover */
}

.btn-red:active {
  color: rgb(77, 72, 72);
  background-color: #e3d5cc;
}
